
<style>
    td.details-control {
        background: url('../../Content/images/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('../../Content/images/details_close.png') no-repeat center center;
    }
</style>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>


<div class="form-horizontal col-lg-12" style="font-size:16px;padding-top:4%">

    <div class="row pl-2 pr-5 pt-3 formDiv">
        <div class="col-md-3">
            <label>Organization</label>
            <select id="org" onchange="getProjectCapacity()"></select>
            <p id="NoOrgSelected" hidden="hidden" class="text-danger">!!!Please Select Any Organisation</p>

        </div>
    </div>
    <img id="load" style="margin-left:45%;margin-top:10%" height="100" width="100" src="~/Content/images/loadinggif.gif" hidden />



</div>

<div id="divReports">

    <div id="dvhead2" class="row mt-4">
        <h5>Total Project Capacity</h5>
    </div>
    <div id="tblTotalProjectCapacity" class="dvTableData">

    </div>
</div>
<script>

    $(document).ready(function () {
        document.getElementById('divReports').hidden = true;
        $.ajax({
            type: 'get',
            dataType: 'json',
            url: '@Url.Action("AccountList","Account")',
            success: function (data) {
                 var s = '<option value="0">--Choose Organisation--</option>';
                $("#org").empty();

                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].accountName + '">' + data[i].accountName + '</option>';
                }
                $("#org").append(s);
            }
        });
    });


    function getProjectCapacity() {

        document.getElementById('load').hidden=false;
        document.getElementById('divReports').hidden = true;
        var orgVal = document.getElementById("org").value;
        console.log(orgVal);
        $.ajax({
            type: "POST",
            url: '@Url.Action("ProjectTeamIterationLevel", "OrganzationLevelCapacity")',
            data: { 'orgVal': orgVal },

            success:
                function (data) {
                    document.getElementById('load').hidden = true;
                    document.getElementById('divReports').hidden = false;
                    var tabledata='';
                    tabledata = "<table class='dataTable table-traceability table table-bordered table-sm' id='totalProjTable'><thead> <tr><th></th><th>Project Name</th><th>Total Capacity(Current Sprint)</th></tr></thead><tbody>";
                    for (let key1 in data.projectCapacity) {
                        if (data.projectCapacity.hasOwnProperty(key1)) {
                            tabledata += "<tr class='details-control'><td class='details-control' style='vertical-align:top'></td><td>" + key1 + "</td><td>" + data.projectCapacity[key1] + "</td></tr > ";
                        }
                    }
                    tabledata += "</tbody></table>";
                   $('#tblTotalProjectCapacity').html(tabledata);
                    var LeaveTable = $("#totalProjTable").DataTable();
                    $(".custom-select").removeClass("custom-select");


                    $('#totalProjTable tbody').on('click', 'tr.details-control', function () {
                        var tr = $(this).closest('tr');
                        var row = LeaveTable.row(tr);
                        if (row.child.isShown()) {
                            // This row is already open - close it
                            $('div.slider', row.child()).slideUp(function () {
                                row.child.hide();
                                tr.removeClass('shown');
                            });
                        }
                        else {

                            var a = $(".shown");
                            for (var n = 0; n < a.length; n++) {
                                var hiderow = LeaveTable.row(a[n]);
                                $('div.slider', hiderow.child()).slideUp(function () {
                                    hiderow.child.hide();
                                });
                                a[n].classList.remove("shown");

                            }
                            row.child(format(row.data()[1], data)).show();
                            tr.addClass('shown');
                            //$('div.slider').slideDown('1000');
                            $('div.slider', row.child(format(row.data()[1], data))).slideDown('1000');


                        }
                        j = 0;

                    });

                    $('#dvhead4Test').css("display", "");
                }
        });

        }

        function format(d, data) {

                var s = '<div class="slider" style="margin-left:30px;margin-right:100px; background-color: seashell; "><table  class="table table-bordered table-sm table-traceability" >';
                var head = "<thead><tr style=''>";
                var body = "<tbody><tr style=''>";

            head += "<th>  Team Name  </th> <th> Capacity  </th><th>Iteration Start</th><th>Iteration End</th>";
            if (data.ProjectTeamCapacity.hasOwnProperty(d)) {
                console.log(data.ProjectTeamCapacity[d]);
                for (let key4 in data.ProjectTeamCapacity[d][0].TeamWiseCapacityDetails) {
                    console.log(data.ProjectTeamCapacity[d][0]["TeamWiseCapacityDetails"][key4]);
                    if (data.ProjectTeamCapacity[d][0]["TeamWiseCapacityDetails"].hasOwnProperty(key4)) {
                        body += "<tr><td> " + key4 + " </td><td> " + data.ProjectTeamCapacity[d][0]["TeamWiseCapacityDetails"][key4] + " </td><td> " + data.ProjectTeamCapacity[d][0]["iterationStart"] + " </td><td> " + data.ProjectTeamCapacity[d][0]["iterationEnd"] + " </td></tr>";
                                    }
                                }
                            }
                        
                    
                
            
                head += "</thead>";
                body += "</tbody>";

                s += head + body;
                s += '</table></div>';
                console.log(s);
                $('#dataTable').addClass('table table-bordered table-sm  table-bordered table-traceability');
                $('#dataTable.thead').addClass('text-light');
                return s;
        };

</script>
